@page
@model GimenaCreations.Pages.Admin.Purchases.EditModel

@{
    ViewData["Title"] = "Purchases";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    ViewData["ActivePage"] = ManageNavPages.Purchases;
}

<h1>Edit</h1>

<h4>Purchase</h4>
<hr />
<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Purchase.Id" />
            <div class="form-group">
                <label asp-for="Purchase.SupplierId" class="control-label"></label>
                <select asp-for="Purchase.SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="Purchase.SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.InvoiceNumber" class="control-label"></label>
                <input asp-for="Purchase.InvoiceNumber" class="form-control" />
                <span asp-validation-for="Purchase.InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.InvoiceDate" class="control-label"></label>
                <input asp-for="Purchase.InvoiceDate" class="form-control" />
                <span asp-validation-for="Purchase.InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.InvoiceExpirationDate" class="control-label"></label>
                <input asp-for="Purchase.InvoiceExpirationDate" class="form-control" />
                <span asp-validation-for="Purchase.InvoiceExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Purchase.IsPaid" /> @Html.DisplayNameFor(model => model.Purchase.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.Reference" class="control-label"></label>
                <input asp-for="Purchase.Reference" class="form-control" />
                <span asp-validation-for="Purchase.Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex">
            @foreach (var item in Model.Purchase.Items)
            {
                <label class="form-label my-auto">Name</label>
                <input placeholder="@item.Name" class="form-control" disabled />
                <label class="form-label my-auto">Quantity</label>
                <input placeholder="@item.Quantity" class="form-control" disabled />
                <label class="form-label my-auto">Catalog item ID</label>
                <input placeholder="@item.CatalogItemId" class="form-control" disabled />
                <label class="form-label my-auto">Price</label>
                <input placeholder="@item.Price" class="form-control" disabled />
                <a class="my-auto" asp-page="/Admin/PurchaseItems/Edit" asp-route-id="@item.Id">Edit</a>
            }
        </div>
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
