@page
@model GimenaCreations.Pages.Admin.Purchases.IndexModel

@{
    ViewData["Title"] = "Purchases";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    ViewData["ActivePage"] = ManageNavPages.Purchases;
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].InvoiceExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].Reference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Purchase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.AfipResponsibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
