@page
@model GimenaCreations.Pages.Admin.Roles.IndexModel
@using GimenaCreations.Constants;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    ViewData["ActivePage"] = ManageNavPages.Roles;
}

<h1 class="bg-info text-white">All Roles</h1>

@if((await AuthorizationService.AuthorizeAsync(User, Permissions.Roles.Create)).Succeeded)
{
    <a asp-page="Create" class="btn btn-secondary">Create a Role</a>
}

<table class="table table-sm table-bordered table-bordered">
    <tr>        
        <th>Name</th>
        <th>Users</th>
        <th>Actions</th>
    </tr>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @foreach (var role in Model.Roles)
    {
        <tr>            
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @if((await AuthorizationService.AuthorizeAsync(User, Permissions.Roles.Edit)).Succeeded)
                        {
                            <li>
                                <a class="btn btn-sm btn-primary dropdown-item" asp-page="Edit" asp-route-id="@role.Id">Update</a>
                            </li>
                        }
                        
                        @if((await AuthorizationService.AuthorizeAsync(User, Permissions.Roles.Delete)).Succeeded)
                        {
                            <li>
                                <form method="post">
                                    <input type="hidden" asp-for="RoleToDelete" value="@role.Id">
                                    <button type="submit" class="btn btn-sm btn-danger dropdown-item" asp-page-handler="Delete">
                                        Delete
                                    </button>
                                </form>
                            </li>
                        }
                        
                        @if((await AuthorizationService.AuthorizeAsync(User, Permissions.Roles.Permissions)).Succeeded)
                        {
                            <li>
                                <a style='margin-right:16px' asp-page="Permissions" asp-route-roleId="@role.Id" class="dropdown-item">
                                    <i class="fas fa-wrench"></i> Manage Permissions
                                </a>
                            </li>                        
                        }                        
                    </ul>
                </div>                
            </td>            
        </tr>
    }
</table>