@page
@model GimenaCreations.Pages.Admin.PurchaseReceptions.DeleteModel

@{
    ViewData["Title"] = "Purchases receptions";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    ViewData["ActivePage"] = ManageNavPages.PurchasesReceptions;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Purchase Reception</h4>
    <hr />
    <dl class="row">        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReception.Purchase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReception.Purchase.RecipientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReception.InputNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReception.InputNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReception.InputDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReception.InputDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReception.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReception.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReception.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReception.InvoiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReception.InvoiceReceptionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReception.InvoiceReceptionDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PurchaseReception.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
